/* Google fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Asterisk wildcard selector to override default styles added by browser */
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

/* General styles */
body {
   color: #252525;
   display: flex;
   flex-direction: column;
   font-family: 'Montserrat', sans-serif;
   font-size: 18px;
   font-weight: 400;
   margin: 0 auto;
   min-height: 100vh;
   align-items: center;
   justify-content: center;
   text-align: center;
   margin: 5px;
}

/* Main content styles */
main {
   flex: 1;
   /* Grow to fill remaining space */
}

.logo img {
   width: 100%;
   height: auto;
   max-width: 500px;
   padding: 20px 20px 10px 20px;
}

h4 {
   padding-left: 20px;
   padding-right: 20px;
}

.timer-moves-audio-info-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 20px 0px 20px;
   width: 100%;
   max-width: 500px;
   box-sizing: border-box;
}

.timer-moves {
   display: flex;
   gap: 10px;
   /* Optional: Adjust spacing between timer and moves */

}

.audio {
   display: flex;
   align-items: center;
}

#volume-icon {
   width: 25px;
   height: 25px;
   cursor: pointer;
}

.audio-info {
   display: flex;
   gap: 10px;
   margin-bottom: 5px;
}

/* The Modal */
.modal {
   display: none;
   /* Hidden by default */
   position: fixed;
   /* Stay in place */
   z-index: 1;
   /* Sit on top */
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   /* Enable scroll if needed */
   background-color: rgb(0, 0, 0);
   /* Fallback color */
   background-color: rgba(0, 0, 0, 0.4);
   /* Black w/ opacity */
   align-items: center;
}

#info-modal {
   display: flex;
   width: 25px;
}

/* Modal Content/Box */
.modal-content {
   background-color: #fefefe;
   margin: 15% auto;
   /* 15% from the top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 80%;
   /* Could be more or less, depending on screen size */
}

.modal-logo {
   width: 200px;
   padding-top: 30px;
   height: auto;
}

hr {
   margin: 5px;
}

.how-to-play,
ol {
   list-style-type: none;
   font-size: 14px;
   line-height: 20px;
}

/* The Close Button */
.close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}

.close:hover,
.close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}

#puzzle {
   width: 100%;
   height: auto;
   max-width: 500px;
   padding: 5px 20px 0px 20px;
}

/* Start button */
.button-start a {
   background-color: #252525;
   border: 0.5px solid #ffffff;
   border-radius: 20px;
   box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
   color: #ffffff !important;
   cursor: pointer;
   display: inline-block;
   font-size: 16px;
   font-weight: 400;
   line-height: 20px;
   margin-top: 20px;
   padding: 8px 18px;
   transition: all 200ms ease;
   text-decoration: none;
}

.button-start:hover a {
   background: #A8CD6E;
   border: 0.5px solid #ffffff;
   color: #252525;
   text-decoration: none;
}

/* Switch button */
.button-switch a {
   background-color: #252525;
   border: 0.5px solid #ffffff;
   border-radius: 20px;
   box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
   color: #ffffff !important;
   cursor: pointer;
   display: inline-block;
   font-size: 16px;
   font-weight: 400;
   line-height: 20px;
   margin-top: 10px;
   padding: 8px 18px;
   transition: all 200ms ease;
   text-decoration: none;
}

.button-switch:hover a {
   background: #A8CD6E;
   border: 0.5px solid #ffffff;
   color: #252525;
   text-decoration: none;
}

.theme {
   padding-top: 20px;
   padding-left: 20px;
   padding-right: 20px;
}

/*Footer*/
#social-networks {
   display: flex;
   font-size: 28px;
   list-style-type: none;
   justify-content: space-evenly;
   gap: 25px;
   padding-top: 40px;
}

.copyright {
   color: #252525;
   font-size: 12px;
   padding: 5px 20px 10px 20px;
}

/* Disable colour on a tag when visited (for testing) */
a,
a:visited,
a:hover,
a:active {
   color: inherit;
}

/* Media query: tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {
   /* Modal */
   .modal {
      width: 50%;
      height: 100%;
      right: 25%;
   }
}