/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles added by browser */
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

/* General styles */
body {
   color: #3f3f42;
   display: flex;
   flex-direction: column;
   font-family: 'Montserrat', sans-serif;
   font-size: 18px;
   font-weight: 400;
   margin: 0 auto;
   min-height: 100vh;
   max-width: 100vw;
   align-items: center;
   justify-content: center;
   text-align: center;
}

/* Main content styles */
main {
   flex: 1;
   /* Grow to fill remaining space */
}

.logo img {
   width: 100%;
   height: auto;
   max-width: 380px;
   padding: 20px 20px 10px 20px;
}

h4 {
   padding-left: 20px;
   padding-right: 20px;
}

.timer-moves-audio-info-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 20px 0px 20px;
   width: 100%;
   max-width: 400px;
   box-sizing: border-box;
}

.timer-moves {
   display: flex;
   gap: 10px;
   /* Adjust spacing between timer and moves */
}

#timer, #moves {
   font-family: 'Courier New', Courier, monospace;
   font-size: 20px;
}

.audio {
   display: flex;
   align-items: center;
}

#volume-icon {
   width: 25px;
   height: 25px;
   cursor: pointer;
}

.audio-info {
   display: flex;
   gap: 10px;
   margin-bottom: 5px;
}

/* Modal for icon image */
.modal {
   display: none;
   /* Hidden by default */
   position: fixed;
   /* Stay in place */
   z-index: 1;
   /* Sit on top */
   top: 0;
   right: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   /* Enable scroll if needed */
   background-color: rgb(0, 0, 0);
   /* Fallback color */
   background-color: rgba(0, 0, 0, 0.4);
   /* Black w/ opacity */
   align-items: center;
}

#info-modal {
   display: flex;
   width: 25px;
}

/* Info modal content/box */
.modal-content {
   background-color: #fefefe;
   margin: 15% auto;
   /* 15% from top and centered */
   padding: 20px;
   border: 1px solid #888;
   width: 80%;
}

.modal-logo {
   width: 200px;
   padding-top: 30px;
   padding-bottom: 10px;
   height: auto;
}
/* Info modal close button */
.close {
   color: #8f8d8d;
   float: right;
   font-size: 28px;
   font-weight: bold;
}

.close:hover,
.close:focus {
   color: #3f3f42;
   text-decoration: none;
   cursor: pointer;
}

hr {
   margin: 10px 5px 10px 5px;
}

.how-to-play,
ol {
   list-style-type: none;
   font-size: 14px;
   line-height: 20px;
   padding-bottom: 5px;
}

ol li {
   padding-bottom: 10px;
}

/* Puzzle
/* CSS Grid Styling */
.grid-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   /* 3 equal columns */
   grid-gap: 2px;
   /* Adjust the gap between tiles */
   margin-bottom: 15px;
   border: 2px #3f3f42 solid;
}

.tile {
   width: 100%;
   /* Occupy full width of its grid cell */
   height: 0;
   /* Set height to 0, content will determine height */
   padding-top: 100%;
   /* Maintain aspect ratio for each tile */
   position: relative;
   /* Position content relative to the tile */
   cursor: pointer;
   /* Add cursor pointer */
   background-size: cover;
   /* Ensure background images cover the entire tile */
}

.tile1,
.tile2,
.tile3,
.tile4,
.tile5,
.tile6,
.tile7,
.tile8,
.tile9 {
   width: 115px;
   height: 115px;
   background: url("../images/pink-slidle.webp");
   cursor: pointer;
}

.tile1 {
   background-position: left top;
}

.tile2 {
   background-position: center top;
}

.tile3 {
   background-position: right top;
}

.tile4 {
   background-position: left center;
}

.tile5 {
   background-position: center center;
}

.tile6 {
   background-position: right center;
}

.tile7 {
   background-position: left bottom;
}

.tile8 {
   background-position: center bottom;
}

.tile9 {
   background: white;
   cursor: default;
}

/* Buttons */
#button-container {
   text-align: center;
}

.switchHintButton-container {
   display: flex;
   justify-content: space-between;
   gap: 20px;
   margin: 10px;
}

.playButton,
.switchButton,
.hintButton {
   background-color: #3f3f42;
   border: 0.5px solid #ffffff;
   border-radius: 20px;
   box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
   color: #ffffff;
   cursor: pointer;
   display: inline-block;
   font-size: 18px;
   font-weight: 100;
   line-height: 40px;
   /* Vertically center text */
   transition: all 200ms ease;
   text-decoration: none;
   width: 140px;
   /* Fixed width */
   height: 40px;
   /* Fixed height */
   text-align: center;
   ;
}

.playButton:hover,
.switchButton:hover,
.hintButton:hover {
   background: #F3A0BC;
   border: 0.5px solid #ffffff;
   color: #ffffff;
   text-decoration: none;
}

.switchButton:hover {
   background: #A8CD6E;
}

.hintButton:hover {
   background: #F2DD4E;
}

#hintImage {
   max-width: 100%;
   max-height: 100%;
   padding: 10px;
}

/* Modal for hint image */
#hintModal {
   display: none;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgba(0, 0, 0, 0.4);
}

#hintModal .modal-content {
   background-color: transparent;
   margin: 15% auto;
   border: none;
   width: 100%;
}

#hintModal .modal-content img {
   max-width: 100%;
   height: auto;
}

.theme {
   padding-top: 15px;
}

/*Footer*/
#social-networks {
   color: #3f3f42;
   display: flex;
   font-size: 28px;
   list-style-type: none;
   justify-content: space-evenly;
   gap: 25px;
   padding-top: 40px;
}

.copyright {
   color: #252525;
   font-size: 12px;
   padding: 5px 20px 10px 20px;
}

/* Disable colour on a tag when visited (for testing) */
a,
a:visited,
a:hover,
a:active {
   color: inherit;
}

/* Media query: tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {

   /* Modal */
   .modal {
      width: 50%;
      height: 100%;
      right: 25%;
   }

   .timer-moves-audio-info-container {
      width: 400px;
   }
}